<ion-view title="Best Team">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="previousListsCtrl">
        <form ng-submit="BestTeam()">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Coach ID</span>
                    <input type="text" name="coachid" placeholder="Coach ID" ng-model="Coach_ID">
                </label>

                <button class="button button-block button-positive">
                    Get Best Team
                </button>
            </div>
        </form>
        
        <div class="list card">
            <div class="item item-text-wrap">
                <h2>Team</h2>
            </div>
        </div>
        <div class="list card" collection-repeat="player in team | filter:searchText" ng-model="team">
            <div class="item item-avatar">
                <img src="img/person.ico">
                <h3>{{player.name}}</h3>
                <p>{{player.pos}}</p>
            </div>
        </div>
        


        <div class="card">
            <div class="item item-text-wrap">
                Response: <b ng-bind="response"></b>
            </div>
        </div>
    </ion-content>
</ion-view>